.productTeaser {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  gap: 40px;
}

.text {
  display: flex;
  flex-direction: column;
}

.text p {
  padding: 10px 0 40px;
}

.teaserHeading {
  font-size: 1.4rem;
  font-weight: 300;
}

.jewelryLink {
  composes: btn from '../../../root.module.css';
}

.jewelryCaps {
  composes: btnCaps from '../../../root.module.css';
}

@media (min-width: 700px) {
  .text {
    height: 300px;
    justify-content: space-between;
  }

  .text p {
    padding: 0;
  }
}
