.productTeaser {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  gap: 40px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.teaserHeading {
  font-size: 1.4rem;
  font-weight: 300;
}

.jewelryLink {
  composes: btn from '../../../root.module.css';
}

.jewelryCaps {
  composes: btnCaps from '../../../root.module.css';
}

@media (min-width: 700px) {
  .productTeaser {
    width: min(1200px, 100%);
  }

  .text {
    gap: 48px;
  }
}
