.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;

  background-color: #f3f3f3;
  text-align: center;
  font-size: 1.2rem;
}

.errorPage h1 {
  font-size: 2rem;
  font-weight: normal;
  text-decoration: underline;
  text-underline-offset: 6px;
  letter-spacing: 1px;
}
