footer {
  display: flex;
  flex-direction: column;

  background-color: black;
  color: white;
}

.flexContainer {
  padding: 80px;
  display: flex;
  gap: 150px;
}

.linkContainer {
  font-size: 20px;
}

.fakeLinks {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 16px;
  column-gap: 60px;
}

.fakeLink:hover {
  color: #e5e5e5;
}

.copyright {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.copyrightLink {
  padding: 6px 12px;

  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  background-color: var(--card-bg);
  border-radius: 10px;
  font-size: 24px;
  box-shadow: 0 0 4px 1px #00000080;
}

.copyrightLink:hover {
  color: #e5e5e5;
}

.githubIcon {
  color: currentColor;
  font-size: 130%;
  transition: transform 0.4s ease-in-out;
}

.githubIcon:hover {
  transform: rotate(-360deg) scale(1.5);
  color: white;
}
