.cart {
  background-color: #9d9d9d;
}

.mainContent {
  composes: mainContent from '/src/root.module.css';
  min-height: 500px;
  padding-top: 40px;

  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

.cart section {
  padding: 25px;
  background-color: #fff;
}

.cartList {
  flex: 2;
  min-width: 250px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
}

.cartHeader {
  padding-bottom: 25px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  border-bottom: 1px solid grey;
}

.cart h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
}

.emptyCart {
  flex: 1;
  display: grid;
  place-content: center;
  font-size: 1.4rem;
}

/* ---------------------------------- */
/* ----------- Cart Items ----------- */
/* ---------------------------------- */

.subtotal {
  font-weight: bold;
  display: flex;
}

h2.subtotal {
  align-self: flex-end;
  gap: 50px;
  font-size: 1.5rem;
  color: #3c3c3c;
}

/* ---------------------------------- */
/* ---------- Total Column ---------- */
/* ---------------------------------- */

.totalContainer {
  flex: 1;
}

.totalColumn {
  display: flex;
  flex-direction: column;
}

.priceBreakdown {
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid grey;
  font-size: 1.1rem;
}

h3.subtotal {
  justify-content: space-between;
  text-transform: unset;
}

.deliveryRow {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.deliveryRow h3 {
  font-weight: bold;
  text-transform: unset;
}

.showInfoBtn {
  --dim: 25px;
  width: var(--dim);
  height: var(--dim);

  border: 1px solid currentColor;
  border-radius: var(--dim);

  color: #595959;
  font-size: 1.3rem;
  font-weight: bold;
}

.popover {
  --bgc: #efefef;
  position: absolute;
  bottom: 25px;
  right: -20px;
}

.popoverText {
  padding: 5px;

  background-color: var(--bgc);
  border: 1px solid #000;
  border-radius: 5px;

  font-size: 0.9rem;
}

.popoverTail {
  --dim: 20px;

  position: relative;
  top: -10px;
  height: var(--dim);
  width: var(--dim);
  margin-left: auto;
  margin-right: 25px;

  background-color: var(--bgc);

  border: 1px solid #000;
  border-left: none;
  border-top: none;
  border-radius: 50% 0 0 0;

  transform: rotate(45deg);
}

.deliveryOptions {
  appearance: none;
  padding-left: 2px;
  border: none;
  color: grey;
  font-size: 1rem;
}

.deliveryOptions::after {
  content: '';
}

.checkoutBtn {
  margin: 30px 0;
  padding: 20px 0;

  background-color: #008e45;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.payments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.payments h3 {
  font-size: 1.3rem;
}
