.cartBtn {
  width: 75px;
  outline-offset: 8px;
  font-size: 1.1rem;
  font-weight: 300;
  text-align: right;
}

.cartBtn:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

@media (min-width: 700px) {
  .cartBtn {
    width: 115px;
    font-size: 1.4rem;
  }
}
