.cartBtn {
  outline-offset: 8px;
  font-size: 1.1rem;
  font-weight: 300;
}

.cartBtn:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

@media (min-width: 700px) {
  .cartBtn {
    font-size: 1.4rem;
  }
}
