.content {
  padding: 10px 10px 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  --dim: 40px;
  width: var(--dim);
  height: var(--dim);

  outline-offset: 5px;
  background-color: unset;
  color: #000;
  font-size: 2rem;
  border-radius: 5px;
}

.btn:hover {
  border-color: #000;
}

.symbol {
  position: relative;
  top: -3px;
}

@media (min-width: 700px) {
  .content {
    padding: 10px 20px;
  }
}
