@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: unset;
}

:root {
  font-family: 'Kanit', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* color-scheme: light dark; */
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  width: 100%;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

a {
  color: unset;
  text-decoration: unset;
}

a.active {
  text-decoration: underline;
  text-underline-offset: 6px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  all: unset;
  text-transform: uppercase;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
  background-color: unset;
  outline-offset: 2px;
}

input {
  appearance: none;
  font-size: unset;
  font-family: unset;
  border: 1px solid black;
  border-radius: unset;
  outline-offset: 2px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

img {
  max-width: 100%;
  display: block;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
