@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: unset;
}

:root {
  font-family: 'Kanit', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* color-scheme: light dark; */
}

a {
  color: unset;
  text-decoration: unset;
}

body {
  display: flex;
  min-height: 100svh;
  width: 100%;
}

button {
  padding: 5px 10px;
  border: 1px solid transparent;
  font-size: 1rem;
  font-family: inherit;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

#root {
  width: 100%;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
