@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: unset;
}

:root {
  font-family: 'Kanit', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* color-scheme: light dark; */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  width: 100%;
}

a {
  color: unset;
  text-decoration: unset;
}

a.active {
  text-decoration: underline;
  text-underline-offset: 6px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  all: unset;
}

#root {
  flex: 1;
}

main {
  display: flex;
  flex-direction: column;
  padding: 40px min(80px, 3vw);
}

img {
  max-width: 100px;
}

/* --------------------------------- */
/* ------------ Classes ------------ */
/* --------------------------------- */

.btn {
  border: 1px solid transparent;
  font-size: 1rem;
  font-family: inherit;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
