.mainContent {
  width: min(1300px, 100%);
  padding: 10px min(80px, 6vw) 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.btn {
  cursor: pointer;
  min-height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  border: 1px solid transparent;
  outline-offset: 2px;
  background-color: black;
  color: white;

  font-size: 1.2rem;
  font-family: inherit;
  font-weight: 300;
  transition: all 0.3s;
}

.btn:hover,
.btn:focus {
  border-color: #000;
  background-color: #fff;
  color: #000;
  transform: scale(1.02);
}

.btnCaps {
  margin-left: 6px;
  text-transform: uppercase;
}
