.homeLink {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header .homeLink {
  outline-offset: 8px;
  font-size: 1.8rem;
}

header .homeLink:hover {
  color: white;
  text-shadow: 0px 0px 10px black;
}

footer .homeLink:hover {
  color: #e0e0e0;
}

@media (min-width: 700px) {
  header .homeLink {
    font-size: 2rem;
  }
}
